#texto-tarefa {
  margin-top: 20px;
  width: 150px;
}

#criar-tarefa {
  background-color: deepskyblue;
  color: white;
  margin-left: 10px;
  height: 30px;
  width: 100px;
  padding: 5px;
  border-radius: 15px;
}

.selItem0 {
  background-color: white;
}

.selItem {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#remover-finalizados {
  background-color: darkcyan;
  color: white;
  margin-left: 10px;
  height: 25px;
  width: 150px;
  border-radius: 15px;
}

button:hover { /* ao passar o mouse nos botões text=negrito */
  font-weight: 700; /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/font-weight */
}

#apaga-tudo , #salvar-tarefas {
  background-color: red;
  color: white;
  margin-left: 10px;
  height: 25px;
  width: 100px;
  border-radius: 15px;
}

#salvar-tarefas {
  background-color: aqua;
  color: black;
}

#mover-cima , #mover-baixo , #remover-selecionado {
  background-color: darkorange;
  color: black;
  margin-left: 10px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
}

#remover-selecionado {
  background-color: brown;
}
