#texto-tarefa {
  margin-top: 20px;
  width: 150px;
}

#criar-tarefa {
  background-color: deepskyblue;
  color: white;
  margin-left: 10px;
  height: 30px;
  width: 100px;
  padding: 5px;
  border-radius: 15px;
}

.selItem0 {
  background-color: white;
}

.selItem {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#apaga-tudo {
  background-color: red;
  color: white;
  margin-left: 10px;
  height: 25px;
  width: 100px;
  border-radius: 15px;
}
